

body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("dh4TkZ5ZTp-AuUWPWMye7w.webp");
}

#board {
    /* background-color: skyblue; */
    background-color: #73b76c; /* Yellowish color */
        color: #064d26;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        position: relative;
        overflow: hidden;
        border: 2px solid #fff;
        margin: 20px;
}